<div class="card bg-dark text-white">
  <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/banner-compressor-e1588176443506-1024x338.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <h1 class="card-title">Talk Coffee To Me</h1>
    <p class="card-text">Fill your coffee void with unfiltered coffee talk and other <br> awesome coffee resources by Little Coffee Place.</p>
    <p class="card-text">Form</p>
  </div>
</div>
</div>
<div class="row mt-3 d-flex justify-content-center">
<h3 class="text-center mb-3">What do you want to learn about?</h3>
  <div class="col-sm-3">
  <div class="image text-center"><img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/cz-icons-home-roasting-e1588175753629.jpg">
      <div class="card-body">
        <h5 class="card-title text-center">Coffee Makers</h5>
        <p class="card-text text-center">Our favorites for those mornings when you just need caffeine.</p>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
  <div class="image text-center"><img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/cz-icons-coffee-gear-e1588175811956.jpg">
      <div class="card-body">
        <h5 class="card-title text-center">Coffee Accessories</h5>
        <p class="card-text text-center">Badass Coffee Gear for your home or wardrobe.</p>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
  <div class="image text-center"><img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/cz-icons-brewing-methods-e1588175837191.jpg">
    <div class="card-body">
      <h5 class="card-title text-center">Coffee Guides</h5>
      <p class="card-text text-center">Deep dives into anything and everything else coffee.</p>
  </div>
  </div>
</div>
</div>
<div class="row mt-2 d-flex justify-content-center">
  <div class="col-sm-3">
  <div class="image text-center"><img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/cz-icons-coffee-beans-e1588175856779.jpg">
      <div class="card-body">
        <h5 class="card-title text-center">Coffee Beans</h5>
        <p class="card-text text-center">Hand-selected lists of the best from around the world.</p>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
  <div class="image text-center"><img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/cz-icons-espresso-brewing-e1588175877900.jpg">
      <div class="card-body">
        <h5 class="card-title text-center">Espresso Machines</h5>
        <p class="card-text text-center">Our top picks for making your favorites at home.</p>
    </div>
    </div>
  </div>
  <div class="col-sm-3">
  <div class="image text-center"><img src="https://www.littlecoffeeplace.com/wp-content/uploads/2020/04/cz-icons-manual-brewing-e1588175903591.jpg">
    <div class="card-body">
      <h5 class="card-title text-center">How To</h5>
      <p class="card-text text-center">Step-by-step processes for crafting the perfect cup</p>
  </div>
  </div>
</div>
</div>

<h3 class="text-center mb-3 mt-3">Latest Posts</h3>
<div class="container-fluid justify-content-center row row-cols-1 row-cols-md-2 g-4">
  <div class="col-md-4">
    <div class="card">
      <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Card title</h5>
      <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
    </div>
  </div>
</div>
  <div class="col-md-4">
    <div class="card">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center">Card title</h5>
        <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
      </div>
    </div>
  </div>
  <div class="col-md-4">
  <div class="card">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center">Card title</h5>
      <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
    </div>
  </div>
</div>
<div class="col-md-4">
<div class="card">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center">Card title</h5>
    <p class="card-text text-center">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
  </div>
</div>
</div>
