<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">LITTLE COFFEE PLACE</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/about">COFFEE MAKERS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">COFFEE GUIDES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">ACCESSORIES</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">BEANS</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">HOW TO</a>
      </li>
      <li class="nav-item">
      <a class="nav-link" href="#">ABOUT</a>
    </li>
      </ul>
    </div>
  </div>
</nav>


