<h1 class="justify-content-center text-center mt-3 mb-4">Coffee Makers</h1>
<div class="container-fluid justify-content-center row row-cols-1 row-cols-md-2 g-4">
  <div class="col-md-3">
    <div class="card">
      <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top mw-100 mh-50" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center mt-5">Coffee Liqueur Brand Review + At Home Recipe</h5>
        <p class="card-text text-center mt-5 mb-5">It may seem weird to combine coffee with alcohol. After all, coffee i..</p>
      </div>
        <div class="btn btn-warning text-light">Read More</div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="card">
      <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center mt-5">The Health Benefits Of Chicory Coffee! Top 7 Brands Review</h5>
        <p class="card-text text-center mt-5 mb-5">There are plenty of good reasons to drink coffee. No calories (unless you add them)</p>
      </div>
      <div class="btn btn-warning text-light">Read More</div>
    </div>
  </div>
  <div class="col-md-3">
  <div class="card">
    <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center mt-5">The Health Benefits Of Chicory Coffee! Top 7 Brands Review</h5>
      <p class="card-text text-center mt-5 mb-5">There are plenty of good reasons to drink coffee. No calories (unless you add them)</p>
    </div>
    <div class="btn btn-warning text-light">Read More</div>
  </div>
</div>
  <div class="col-md-3">
  <div class="card">
    <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center mt-5">A Guide On Vietnamese Coffee – Origin and Recipe</h5>
      <p class="card-text text-center mb-5 mt-5">Vietnam and coffee have a long relationship. Today Vietnam is the second largest coffee..</p>
    </div>
    <div class="btn btn-warning text-light">Read More</div>
  </div>
</div>
  <div class="col-md-3">
    <div class="card">
      <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title text-center mt-5">Wildcrafter Botanicals – Superherbs And Coffee</h5>
        <p class="card-text text-center mt-5 mb-5">Coffee is full of different aromatics. Over 800, actually. It is not uncommon to find floral..</p>
      </div>
      <div class="btn btn-warning text-light">Read More</div>
    </div>
  </div>
  <div class="col-md-3">
  <div class="card">
    <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title text-center mt-5">Waka Coffee Review! Speciality Level Instant Coffee</h5>
      <p class="card-text text-center mt-5 mb-5">Everyone has tried instant coffee, at least once. It’s easily available, even ubiquitous, and</p>
    </div>
    <div class="btn btn-warning text-light">Read More</div>
  </div>
</div>
<div class="col-md-3">
<div class="card">
  <img src="https://www.littlecoffeeplace.com/wp-content/uploads/2021/01/coffee-liqueur-600x768.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title text-center mt-5">Nguyen Coffee Supply Review – Fair Trade Vietnamese Coffee</h5>
    <p class="card-text text-center mt-5 mb-5">Vietnam has been producing coffee since colonial times. Introduced by the French,</p>
  </div>
  <div class="btn btn-warning text-light">Read More</div>
</div>
</div>